Skip to content
Product
Solutions
Open Source
Pricing
Search
Sign in
Sign up
TfTHacker
/
DashboardPlusPlus
Public
Code
Pull requests
Discussions
Actions
Security
Insights
DashboardPlusPlus/.obsidian/snippets/dashboard.css

TfT Hacker Updated Dashboard++ for Obsidian 0.16.* releases
Latest commit 63014d9 on Sep 26
 History
 1 contributor
38 lines (32 sloc)  728 Bytes

/* Updated 2022-02-28 */

.dashboard {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
}

.dashboard .markdown-preview-section {
    max-width: 100%;
}

/* Title at top of the document */
.dashboard .markdown-preview-section .title {
    top: 60px;
    position: absolute;
    font-size: 26pt !important;
    font-weight: bolder;
    letter-spacing: 8px;
}

.dashboard h1 {
    border-bottom-style: solid !important;
    border-width: 1px !important;
    padding-bottom: 3px !important;
}

.dashboard div > ul {
    list-style: none;
    display: flex;
    column-gap: 50px;
    flex-flow: row wrap;
}

.dashboard div > ul > li {
    min-width: 250px;
    width: 15%;
}
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
